#survey {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 3%;
}

.test {
  max-width: 800px;
  height: 100vh;
}

.question_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 45px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.question_box .number {
  padding-bottom: 15px;
}

.answer {
  font-family: "SEBANG_Gothic_Regular";
  font-size: 35px;
  line-height: 1.5;
  padding-bottom: 30px;
}

.answer div {
  padding-bottom: 15px;
}

.answer input {
  cursor: pointer;
}

.btn_wrap {
  display: flex;
  justify-content: center;
}

.btn_sort {
  justify-content: space-between;
}
