<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>데려갈꼬냥? | 지역별 고양이</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    crossorigin="anonymous">

    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS -->
    <link href="/static/css/styles.css" rel="stylesheet" />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"> 
    </script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- ajax.js import -->
    <script type="text/javascript" src="/static/js/ajax.js"></script>
    <script>
        //캣 카드 불러오기
        $(window).ready(function(){ 
            //alert('ready');
            $.ajax({
                type : "GET",
                url: "/cat_list_info", //json 경로
                //dataType: "json",
                data : {},
                success: function(data){
                    //console.log(data['msg'])
                    let cats = data['msg']
                    //let num =0;
                    //console.log(cats);
                    for(let numbers in cats) {
                        //num = num +1;
                        //let cat_number = cats[i]['유기번호']
                        //console.log(numbers,cats[numbers]);
                        let cat_id = cats[numbers]['유기번호']; 
                        let cat_img = cats[numbers]['고양이사진 주소'];
                        let cat_number = cats[numbers]['공고 번호']; 
                        /*let cat_color = cats[numbers]['고양이 색']; 
                        let cat_sex = cats[numbers]['성별']; 
                        let cat_kg = cats[numbers]['몸무게']; 
                        let cat_note = cats[numbers]['특징']; 
                        let cat_region = cats[numbers]['지역']; 
                        let cat_center = cats[numbers]['보호소 명']; 
                        let cat_address = cats[numbers]['보호소 주소']; 
                        let cat_call = cats[numbers]['보호소 연락처'];*/

                        //console.log(cat_number);
                        let catCard = `<div id= "${cat_id}" " class="cat-card" style="width: 18rem;" onclick="giveId(${cat_id})">
                            <img class="card-img-top" src="${cat_img}" alt="Card image cap">
                            <p class="card-text">${cat_number}</p>
                        </div>`

                        /*let modalData = `<img class="modal-img" src="${cat_img}" alt="고양이 이미지">
                        <img class="modal-logo" src="/static/logo.png" alt="데려갈꼬냥?" >
                                <ul>
                                    <li>
                                        <span class="modal-title">공고번호</span><span class="modal-text">${cat_number}</span>
                                    </li>
                                    <li>
                                        <span class="modal-title">색상 / 성별</span><span class="modal-text">${cat_color}/${cat_sex}</span>
                                        <br>
                                        <span class="modal-title">체중</span><span class="modal-text">${cat_kg}</span>
                                        <br>
                                        <span class="modal-title">특징</span><span class="modal-text">${cat_note}</span>
                                        <br>
                                    </li>
                                    <li>
                                        <span class="modal-title">관할기관</span><span class="modal-text">${cat_region}</span>
                                        <br>
                                        <span class="modal-title">보호센터</span><span class="modal-text">${cat_center}</span>
                                        <br>
                                        <span class="modal-title">주소</span><span class="modal-text">${cat_address}</span>
                                        <br>
                                        <span class="modal-title">연락처</span><span class="modal-text">${cat_call}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>`*/

                        $('.catcards-box').append(catCard);
                        //$('.modal__content').append(modalData);
                    }
                }})
            });

        /*function clickModal(){ //모달창 띄우기

                $(${cat_id}).click(function(){
                    $(".modal").fadeIn('fast');  //cat-card click-> onModal
                });
            
                $(".modal__overlay").click(function(){
                    $(".modal").fadeOut('fast'); //영역 밖 click-> offModal
                });
        };*/

        //giveId(${cat_id})
    
    </script>

</head>

<style>
    body {
        background-color: var(--bg-color);
        height: 200vh;
        width: 100vw;
      }
</style>

<body>

    <!-- Nav-bar -->
    <nav class="nav-bar">
        <div class="nav-bar-box">
            <ul class="nav-bar__list">
                <li><a href="/regions">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
            <ul class="nav-bar__list-2">
                <li><a href="/cat_test">나의 고양이 취향은?</a></li>
            </ul>
        </div>
    </nav>

    <!-- Menu-bar -->
    <div class="menu-bar">
        <img src="/static/logo.png" alt="로고입니다." onclick="location.href='/regions'">

        <ul class="menu-bar-box">
            <li class="do-name" onclick="loadCadCard('서울특별시');movePage()">서울특별시</li>
            <li class="do-name" onclick="loadCadCard('부산광역시');movePage()">부산광역시</li>
            <li class="do-name" onclick="loadCadCard('인천광역시');movePage()">인천광역시</li>
            <li class="do-name" onclick="loadCadCard('대전광역시');movePage()">대전광역시</li>
            <li class="do-name" onclick="loadCadCard('광주광역시');movePage()">광주광역시</li>
            <li class="do-name" onclick="loadCadCard('대구광역시');movePage()">대구광역시</li>
            <li class="do-name" onclick="loadCadCard('울산광역시');movePage()">울산광역시</li>
            <hr class="menu-bar-hr">
            <li class="do-name" onclick="loadCadCard('경기도');movePage()">경기도</li>
            <li class="do-name" onclick="loadCadCard('강원도');movePage()">강원도</li>
            <li class="do-name" onclick="loadCadCard('충청북도');movePage()">충청북도</li>
            <li class="do-name" onclick="loadCadCard('충청남도');movePage()">충청남도</li>
            <li class="do-name" onclick="loadCadCard('전라북도');movePage()">전라북도</li>
            <li class="do-name" onclick="loadCadCard('전라남도');movePage()">전라남도</li>
            <li class="do-name" onclick="loadCadCard('경상북도');movePage()">경상북도</li>
            <li class="do-name" onclick="loadCadCard('경상남도');movePage()">경상남도</li>
            <li class="do-name" onclick="loadCadCard('제주도');movePage()">제주도</li>
        </ul>
    </div>
    
    <!-- 고양이 카드 박스 :: id를 공고번호로 주어서 카드 특정 -->
    <div class="catcards-box">
    </div>
   
    <!-- 모달창 -->
    <div class="modal hidden">
    <div class="modal__overlay"></div>
        <div class="modal__content">
        </div>
    </div> 

    
    <script>

        //메뉴바 페이지 이동 함수
        function movePage() {
            window.location.href ="/cat_list";
        }

        //모달창 관련 ajax
        function giveId(cat_id){ // 카드 클릭시 id 전달
            $.ajax({
                type : "GET",
                url: "/cat_list_modal_r", //json 경로
                data : {id_give: cat_id}, //도시이름
                success: function(){ 
                    showModal();
                    } // success
                
                }) // ajax
            
            }; // fucntion
            


        // 특정 모달창 on
        function showModal(){ //id 검색 -> 해당되는 정보 받아옴 -> 모달로 보여주기
            //alert($(this).val());
            
            $.ajax({
                type : "GET",
                url : "/cat_list_modal_g", //json 경로
                data : {},
                success: function(data){
                    //console.log(data['msg'])
                    let cat = data['msg']
                    console.log(cat);
                    //for(let numbers in cats) 
                        {
                        //let cat_number = cats[i]['유기번호']
                        //console.log(numbers,cats[numbers]);
                        let cat_id = cat['유기번호'];
                        //console.log(cat_id); 
                        let cat_img = cat['고양이사진 주소'];
                        let cat_number = cat['공고 번호']; 
                        let cat_color = cat['고양이 색']; 
                        let cat_sex = cat['성별']; 
                        let cat_kg = cat['몸무게']; 
                        let cat_note = cat['특징'];
                        let cat_region = cat['지역'];
                        let cat_center = cat['보호소 명'];
                        let cat_address = cat['보호소 주소'];
                        let cat_call = cat['보호소 연락처'];
                        
                        let modalData = `<img class="modal-img" src="${cat_img}" alt="고양이 이미지">
                        <img class="modal-logo" src="/static/logo.png" alt="데려갈꼬냥?" >
                                <ul>
                                    <li>
                                        <span class="modal-title">공고번호</span><span class="modal-text">${cat_number}</span>
                                    </li>
                                    <li>
                                        <span class="modal-title">색상 / 성별</span><span class="modal-text">${cat_color}/${cat_sex}</span>
                                        <br>
                                        <span class="modal-title">체중</span><span class="modal-text">${cat_kg}</span>
                                        <br>
                                        <span class="modal-title">특징</span><span class="modal-text">${cat_note}</span>
                                        <br>
                                    </li>
                                    <li>
                                        <span class="modal-title">관할기관</span><span class="modal-text">${cat_region}</span>
                                        <br>
                                        <span class="modal-title">보호센터</span><span class="modal-text">${cat_center}</span>
                                        <br>
                                        <span class="modal-title">주소</span><span class="modal-text">${cat_address}</span>
                                        <br>
                                        <span class="modal-title">연락처</span><span class="modal-text">${cat_call}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>`

                        $(".modal__content").empty();
                        $('.modal__content').append(modalData); //모달창에 데이터 뜸
                        $(".modal").fadeIn('fast');
                        
                        
                }}
            })
        };

        //모달 아웃 기능
        $(".modal__overlay").click(function(){
            $(".modal").fadeOut('fast'); //영역 밖 click-> offModal
        });

        
    </script>
</body>

</html>